<li>
  <span class="content">
	  <%#= link_to band.bn_head, 'http://www.reuters.com' + band.bn_url %>   
    Обзор за <%= overlook.lk_date %>
  </span>
  <span class="timestamp">
    <%= overlook.lk_file %> ;
	  <%= link_to "Просмотреть", "#" %>
	  <%= link_to "Удалить", "#" %>
  </span>
</li>
