<h3><%= @div_article_header %></h3>
<p><%= @div_date %></p>
<%# @para = "AAA" %>
<% @mas_p.each do |elem| %>
  <p><%#= link_to elem, new_overlook_path %></p>
  <p><%= link_to elem, new_overlook_path %></p>
  <% @para = elem %>
  <p><%= @para %></p>
<% end %>



