<li>
  <span class="content">
	  <%= link_to band.bn_head, 'http://www.reuters.com' + band.bn_url %>   
    <%= band.novelty %>
  </span>
  <span class="timestamp">
    <%= band.bn_date %>
  </span>
</li>
