<footer class="footer">
  <small>
    <p>Это подвал</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Добавить статью", new_review_path %></li>
      <li><%= link_to "Раздуплить", double_new_band_path %></li>
      <li><%#= link_to "Раздуплить", band_path(band) %></li>
    </ul>
  </nav>
</footer>

