<footer class="footer">
  <small>
    <p>Это подвал</p>
  </small>
  <nav>
    <ul>
      <li><%#= link_to "Обновить", create_path %></li>
      <li><%= link_to "Обновить", new_band_path %></li>
      <li><%#= link_to "Раздуплить", band_path(band) %></li>    </ul>
  </nav>
</footer>

