<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ActivTrade", '#', id: "logo" %>
      <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Новости", bands_path %></li>
            <li><%= link_to "Обзор за...",  overlooks_path %></li>
            <li><%= link_to "Статьи",  article_path %></li>
          </ul>
        </nav>
      </div>
    </div>
</header>

